.unit-heading{
    width: 80%;
    height: auto;
    margin: 0px auto;
    text-align: start;
}

.unit-heading div h1{
    color: rgb(9, 9, 175);
    text-decoration: underline;
}
.unit-heading div h2{
    color: rgb(9, 9, 175);
    text-decoration: underline;
}

.unit-content{
    width: 80%;
    height: auto;
    margin: 0px auto;
    text-align: start;
}

.unit-content-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 0px;
    border: 1px solid grey;
    padding: 20px;
    color: blueviolet;
}

.unit-content-1 a{
    width: 100%;
    height: auto;
    text-decoration: none;
    color: blue;
    font-size: 30px;
}
.unit-content-1 a:hover{
    color: white;
    background-color: black;
}

.unit-content-1:hover{
    color: white;
    background-color: black;
}